.button {
  color: var(--gray-100);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 140%;
  background: var(--blueDark);
  padding: 1.6rem;
  display: flex;
  gap: .8rem;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background: var(--blue);
}