.button[type=submit] {
  color: var(--gray-100);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 140%;
  background: var(--blueDark);
  padding: 1.6rem;
  display: flex;
  gap: .8rem;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.button[type=submit]:hover:not(:disabled) {
  background: var(--blue);
}

.button[type=submit]:disabled {
  cursor: not-allowed;
  opacity: 70%;
}

.inputWrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 80px;
}

.inputWrapper input {
  flex: 1;
  border: none;
  border-radius: 8px;
  padding: 1.6rem;
  background: var(--gray-500);
  
}
.inputWrapper input:focus {
  outline: none;
}

.inputWrapper input:placeholder {
  color: var(--gray-300);
}