

.container {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 736px;
  margin-top: -3rem;
}

.taskTotals {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.taskTotals span {
  background: var(--gray-400);
  color: var(--gray-200);
  border-radius: 999px;
  padding: 2px 8px;
  font-size: 1.2rem;
  font-weight: 700;
}
.taskTotals p {
  font-weight: 700;
  font-size: 1.4rem;
}

.taskTotals p:first-child {
  color: var(--blue);
}
.taskTotals p {
  color: var(--purple);
}


.taskList {

}




